.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

/* .dialogsItems .active,
.dialogsItems .focuse {
    color: rgb(231, 210, 210);
} */

.active {
    color: rgb(231, 210, 210);
}

.dialog {}

.massages {}

.message {}