.nav {
    grid-area: n;
    background-color: rgb(118, 235, 108);
}

.item {
    color: rgb(234, 255, 228);

    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    text-align: center;

    padding: 10px 30px;
}

/*.item*/
/*.active {
    color: rgb(255, 150, 195);
}*/

.item a:active,
.item a:focus {
    color: rgb(255, 150, 195);
}